.pokemon-list {
	overflow: auto;
	height: 85%;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(110px, 30%));
	justify-content: center;
}

.favorites-container {
	display: flex;
	flex-direction: column;
	height: 100%;
	align-items: center;
	width: 100%;
	margin: 40px;
}
